<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:solr="http://www.springframework.org/schema/data/solr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd 
		http://www.springframework.org/schema/data/solr 
		http://www.springframework.org/schema/data/solr/spring-solr.xsd">

	<solr:repositories base-package="com.wangxin.solr" />

	<util:properties id="p_solr" location="classpath:/config/solr.properties" />

	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:/config/solr.properties</value>
			</list>
		</property>
	</bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="configProperties" />
	</bean>

	<!-- <solr:embedded-solr-server id="solrServer" solrHome="${solr.solr.home}"/> -->

	<!-- <bean id="solrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient"> -->
	<!-- <property name="zkHost" value="#{p_solr['solr.connection']}" /> -->
	<!-- <property name="defaultCollection" value="#{p_solr['solr.collection']}" /> -->
	<!-- <property name="zkClientTimeout" value="#{p_solr['solr.zk.client.timeout']}" /> -->
	<!-- <property name="zkConnectTimeout" value="#{p_solr['solr.zk.connect.timeout']}" /> -->
	<!-- </bean> -->

	<!-- <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate" scope="singleton"> -->
	<!-- <constructor-arg ref="solrClient" /> -->
	<!-- </bean> -->

	<!-- <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate"> -->
	<!-- <constructor-arg index="0" ref="solrClient" /> -->
	<!-- </bean> -->

</beans> 